{% extends "base.html" %}
{% block content %}
  <section>
    <article>
      <header class="major">
        <h2>{{ page.title }}</h2>
      </header>
      {% if page.taxonomies.doc_type or page.date %}
      <p>
        {% if page.taxonomies.doc_type %}
          {% for dt in page.taxonomies.doc_type %}<strong><a href="{{ get_taxonomy_url(kind='doc_type', name=dt) }}">{{ dt }}</a></strong>{% endfor %} &middot;
        {% endif %}
        {% if page.date %}{{ page.date | date(format="%B %e, %Y") }}{% endif %}
      </p>
      {% endif %}
      {% if page.extra.file %}
      <p><a class="button-main" href="{{ page.extra.file }}" target="_blank" rel="noreferrer">Download Document&nbsp;&nbsp;<i class="fa fa-download"></i></a></p>
      {% elif page.extra.external_url %}
      <p><a class="button-main" href="{{ page.extra.external_url }}" target="_blank" rel="noreferrer">View Document&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></p>
      {% endif %}
      {{ page.content | safe }}
    </article>
  </section>
{% endblock content %}
