{% extends "base.html" %}
{% import "macros/collections.html" as collections %}
{% block content %}
  <section>
    <header class="major">
      <h2>{{ section.title }}</h2>
    </header>
    {{ section.content | safe }}
    {% if paginator %}
      {{ collections::page_list(pages=paginator.pages) }}
      {{ collections::pagination(paginator=paginator) }}
    {% elif section.pages | length > 0 %}
      {{ collections::page_list(pages=section.pages) }}
    {% endif %}
  </section>
{% endblock content %}
